@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {background: #080817; }

a { text-decoration: none; color: #b09a6b; }

a:hover { text-decoration: underline #b09a6b; }

#container { width: 1000px;  display: flex;  margin: 15px auto; }

#conteudo { display: flex;  flex-direction: column; margin: 10px;  border: 5px solid #2d1c3d;
background: #352a40;  border-radius: 25px;  font: 16px 'Open Sans';  line-height: 1.5;
text-align: justify; }

#perfil { display: flex;  flex-direction: column;  border: 5px solid #352a40;
border-radius: 25px;  width: 220px;  background: #9cc5e8;  margin: 10px; }

#perfil:hover { margin: 5px;  width: 230px; box-shadow: 5px 5px 10px 0px #232367; }

#perfil:hover span { margin: 7px 15px; }

#foto-perfil { width:200px;  margin: 10px;  box-shadow: 5px 5px 10px 0px #232367;
border-radius: 10px;  align-self: center; }

.dados-perfil { margin: 7px 10px;  font: 14px 'Open Sans'; }

#contatos { display: flex;  flex-direction: column; margin: 10px; color: #d4ffa3;
font-size: 13px; }

#icones { display: flex; }

#link-lattes { border: 3px solid #352a40; }

#link-lattes:hover { border: 3px solid #7700ee; }

#link-fb { height: 40px;  width: 40px; border: 3px solid #352a40;  border-radius: 100%; }

#link-fb:hover { border-radius: 100%; border: 3px solid #149ef8; }

#icone-lattes { width: 80px; }

.textos { margin: 10px; color: #d5e0c9; }