@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {background: #080817; }

h1 { font-family: 'Ubuntu', sans-serif;  font-size: 25px; }

a { text-decoration: none; color: #b09a6b; }

a:hover { text-decoration: underline #b09a6b; }

#container { width: 1000px;  display: flex;  margin: 15px auto; }

#conteudo { display: flex;  flex-direction: column; margin: 10px;  border: 5px solid #2d1c3d;
background: #352a40;  border-radius: 25px;  font: 16px 'Open Sans', sans-serif;  line-height: 1.5;
text-align: justify; }

#perfil { display: flex;  flex-direction: column;  border: 5px solid #352a40;
border-radius: 25px;  width: 220px;  background: #9cc5e8;  margin: 10px; }

#perfil:hover { margin: 5px;  width: 230px; box-shadow: 5px 5px 10px 0px #232367; }

#perfil:hover span { margin: 7px 15px; }

#foto-perfil { width:200px;  margin: 10px;  box-shadow: 5px 5px 10px 0px #232367;
border-radius: 10px;  align-self: center; }

.dados-perfil { margin: 7px 10px;  font: 14px 'Open Sans'; }

#icones-lings { display: flex;  justify-content: space-around; margin: 2px 10px 10px 9px; }

.lings { width: 40px; }

#contatos { display: flex;  flex-direction: column; margin: 10px; color: #d4ffa3;
font-size: 13px; }

#icones { display: flex; align-items: center; justify-content: space-around;
width: 200px; }

.icones-links { display: flex; align-items: center; justify-content: center; }

#link-fb { height: 46px;  width: 46px; }

#icone-fb:hover { border-radius: 100%; border: 3px solid #149ef8; }

#link-gh { height: 46px;  width: 46px; }

#icone-gh { height: 40px;  width: 40px; }

#icone-gh:hover { border: 3px solid black; border-radius: 100%; }

#icone-lattes { width: 80px; }

#link-lattes { border: 3px solid #352a40; }

#link-lattes:hover { border: 3px solid #7700ee; }

.textos { margin: 10px; color: #d5e0c9; }

#cards { display: flex;  justify-content: space-evenly;  flex-wrap: wrap;
row-gap: 25px;  font: 14px 'Open Sans', sans-serif;  margin-bottom: 25px; }

p { margin: 50px 10px 10px; text-align: justify;  hyphens: auto; }

.card-xp { background: #9cc5e8;  border-radius: 25px; flex-basis: 200px;
position: relative;  box-shadow: 8px 8px 7px 0 #080817; }

.fitas {position: absolute;  margin-top: 15px; background: #3f6382;
left: -16px; }

.fitas::before { bottom: -8px; content: '';  position: absolute;
border-width: 4px 8px 4px 8px ;  border-style: solid;
border-color: #3f6382 #3f6382 transparent transparent;
filter: brightness(60%); }

.anos { padding: 20px;  color: #d5e0c9; }

#link-lattes-texto { color: #5c473a; }

#link-lattes-texto:hover { text-decoration: underline #5c473a;  background: #ffc4a2; }