body {
    margin: 0;
    background: #ffd965;
}

main {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #d00f0f;
}

h2 {
    font-family: 'Great Vibes', cursive;
    color: #ff65ff;
}

label {
    margin: 0 30px 0 5px;
}


button{
    background: #d00f0f;
    color: whitesmoke;
    border:2px solid #ffd965;
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 20px;
}

    button:hover {
        cursor: pointer;
        background: #650000;
    }

#menu {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #d00f0f;
    padding-bottom: 20px;
    background: #ffff65;
}

    .container-questions {
        margin: 30px;
        width: 888px;
    }

    .container-alternatives {
        display: flex;
        align-items: center;
    }

    #container-total {
        width: 135px;
        font-size: 20px;
    }

    #container-total * {
        margin: 0 0;
    }

    #total {
        width: 84px;
        background: #ffd965;
        padding: 5px;
    }

#ficha {
    margin: 50px;
    padding: 20px;
    border: 3px solid #d00f0f;
    background: #ffff65;
    width: 160px;
}
