@font-face{
    font-family:'digital-clock-font';
    src: url('fonts/digital-7.ttf');
   }

body {
    margin: 0;
    background-image: url(https://png.pngtree.com/png-clipart/20200625/ourmid/pngtree-hand-painted-racing-black-and-white-grid-race-banner-png-image_2266432.jpg);
    background-size: 250px;
}

main {
    margin: 2vh auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border: 3px solid rgb(212, 212, 37);
    padding: 50px;
    background: #b5b5b5;
}

form {
    margin: 30px 20px 0;
}

label {
    margin: 0 20px 0 3px;
}

button:hover {
    cursor: pointer;
}

#container-cars {
    display: flex;
    justify-content: space-around;
}

.cars {
    border: 3px solid rgb(212, 212, 37);
    padding: 10px;
}

.buttons-car {
    background: rgb(46, 44, 44);
    color: rgb(212, 212, 37);
    font-size: 20px;
}

#race {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-top: 20px;
}

#button-start {
    width: 200px;
    height: 50px;
    font-size: 20px;
    align-self: center;
    background-color: white;
}

    #button-start:hover {
        background: rgb(46, 44, 44);
        color: rgb(212, 212, 37);
    }

#container-data-race {
    display: flex;
    justify-content: space-around;
}

    #container-data-race * {
        flex: 0 250px;
    }

    #laps {
        overflow: auto;
        padding: 10px;
        height: 400px;
        background: rgb(37, 36, 36);
        font-family:'digital-clock-font';
        color: red;
        font-size: 20px;
    }

    #result {
        margin-top: 50px;
        font-size: 23px;
        color: red;
        flex: 0 300px;
    }