body { background: #dada7e;}

div { width: 800px;  margin: 10px 350px; }

p {text-align: center;  border: 3px solid black;  border-radius: 50px;  width: 150px;
margin: auto;  background-color: whitesmoke;  font-family: 'Roboto Mono', monospace; }

#van { width: 220px;  border: 10px groove #8282ff;  margin-bottom: 60px; }

#davinci { width: 220px;  border: 15px ridge #d2b726;  margin-left: 30px; }

#ed { width: 220px; border-style: double solid;  border-width: 11px;
border-color: #b43dac #c82222;  margin-left: 30px; }

#michel { width: 720px;  display: block;  border-radius: 10px;  border-style: dashed;
border-width: 4px 8px;  border-radius: 10px;  border-color: #f3e5e5 #c2b3b3 #1b5c1b #6b5656;
margin-left: 380px; }