body {
    margin: 0;
    height: 100vh;
    background: #6b7632;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

#datas {
    display: flex;
    justify-content: space-around;
    margin: 1vh 0;
}

    #container-interations * {
        margin: 0 1vh;
    }

#blackboard {
    width: 80vw;
    height: 80vh;
    border:1vh solid #924719;
    background: #04251a;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    .columns-writed {
        color: white;
        width: 30vw;
        height: 70vh;
        letter-spacing: 1px;
        font-size: 20px;
    }
