body {
    background: #000000e8;
}

main {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 3px solid #c31818;
    align-items: center;
    padding: 20px;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, ul, a {
    font-size: 18px;
    color: whitesmoke;
    letter-spacing: 2px;
}

a {
    margin: 3px;
    color: #c31818;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
        background: rgba(220, 20, 60, 0.219);
    }

#band {
    margin: 20px 0 5px;
}

#gender {
    margin: 0;
}

#linkWiki {
    margin-top: 10px;
}

#containerImages {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}