body {
    margin: 0;
    background: midnightblue;
}

main {
    margin: 100px auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background: mediumslateblue;
    color: whitesmoke;
    padding: 50px;
    letter-spacing: 1px;
}

input {
    border: none;
    outline: none;
    background: rgb(146 146 207);
    color: whitesmoke;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

button {
    border: none;
    margin: 20px;
    height: 50px;
    background: violet;
    color: whitesmoke;
    box-shadow: 2px 2px 4px 0px #0008ff;
    border-radius: 25px;
}

    button:hover {
        cursor: pointer;
        background: #db5adb;
    }

.container-input {
    margin: 10px;
}

.buttons {
    width: 200px;
}

#clear {
    width: 300px;
    margin: 0 auto;
}

#output {
    width: 200px;
    background: rgb(146 146 207);
}
